! --------------------
! Font settings
! --------------------
Xft.dpi: 96
Xft.antialias: true
Xft.rgba:      none
! Xft.rgba:      rgba
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hinting:   0
! hintnone, hintslight, hintmedium, hintfull
Xft.hintstyle: hintnone

xterm.font: terminus-16

! --------------------
! URxvt
! --------------------
URxvt.font: terminus-16
URxvt*antialias: true
URxvt*renderFont: true
URxvt*allowBoldFonts: true
URxvt*background: black
URxvt*foreground: white
URxvt*scrollBar: false
URxvt*cursorBlink: true

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
